<!-- Coming soon page-->
<div class="misc-wrapper">
    <div class="misc-wrapper">
        <div class="misc-inner p-2 p-sm-3">
            <div class="w-100 text-center">
                <div>
                    <img class="mb-2" src="../../../../assets/images/logo/logo.jpeg" alt="Not authorized page"
                        height="150" />
                </div>
                <h2 class="mb-1 text-success">We are launching soon 🚀</h2>
                <p class="mb-3">We're creating working on something awesome. Please hold on!</p>
                <!-- <form class=" flex justify-content-center"> -->
                <!-- <p-inputGroup class="flex justify-content-center">
                    <input type="text" pInputText placeholder="Keyword" />
                    <button type="button" pButton icon="pi pi-envelope" class="p-button-warning"></button>
                </p-inputGroup> -->
                <!-- <button class="btn btn-primary mb-1 btn-sm-block" type="submit" rippleEffect>Notify</button> -->
                <!-- </form> -->
                <!-- <img class="img-fluid" [src]="'assets/images/pages/coming-soon-dark.svg'" alt="Coming soon page" /> -->
            </div>
        </div>
    </div>
    <!-- / Coming soon page-->