<div class="text-900 text-3xl font-medium mb-2 mt-1 nunito-font">
    <span class="deep-green-font"><strong>Frequently Asked Questions</strong></span>
</div>

@defer (when !is_loading()) {
@if(!is_loading()){
<div class="surface-card shadow-2 px-3 pb-3 border-round bg-light mt-3 nunito-font">
    <p-accordion [activeIndex]="0">
        @for (faq of studentPortalFaqs(); track faq.uid) {
        <p-accordionTab [header]="faq.title">
            <p>{{ faq.content }}</p>
        </p-accordionTab>
        }
    </p-accordion>
</div>
}
}

@if(is_loading()){
<div class="surface-card shadow-2 p-3 border-round bg-light mt-3 nunito-font">
    <p-accordion [activeIndex]="0">
        @for (faq of [1, 2, 3, 4, 5]; track faq) {
        <p-accordionTab header=". . . .">
            <p> <p-skeleton styleClass="w-full border-round h-2rem" /> </p>
        </p-accordionTab>
        }
    </p-accordion>
</div>
}