<div class="sm:m-2 lg:mx-5 mt-0">
    <app-content-header [items]="contentHeader" />
</div>

<!-- start of comfirm dialog -->
<p-confirmDialog [position]="dialogPosition" #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
                <i class="pi pi-question text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">
                {{ message.header }}
            </span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex align-items-center gap-2 mt-4">
                <button pButton label="Save" (click)="cd.accept()" class="w-8rem">
                </button>
                <button pButton label="Cancel" (click)="cd.reject()" class="p-button-outlined w-8rem ">
                </button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>
<!-- end of confirm Dialog -->

@defer (when (!is_loading()) ) {
<div class="grid border-1 surface-border shadow-2 border-round sm:m-2 lg:m-5 p-3">
    <div class="col-12 md:col-6 lg:col-3">
        <div class="">
            <img src="https://primefaces.org/cdn/primeng/images/demo/nature/nature9.jpg" class="border-round w-full" />
            <p-divider align="center">
                <i class="pi pi-warehouse mr-2"></i>
                <b>Session</b>
            </p-divider>

            <div class="deep-blue-font mb-3 font-medium flex align-items-center justify-content-between">
                <span> <i class="pi pi-fw"></i>{{subscription()?.course_session.start_date}} - &nbsp;
                    {{subscription()?.course_session.end_date}}</span>
            </div>

        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-8 p-3">
        <div class="mb-3 text-3xl mb-5 font-bold">
            {{ subscription()?.course.name }} - ({{subscription()?.course.code}})
        </div>
        <div class="mb-3 text-2xl font-medium">
            {{ subscription()?.course.description }}
        </div>
        <!-- <div class="mb-3 font-medium">
            <b>Ratings:</b> &nbsp; <p-rating [(ngModel)]="rating" />
        </div> -->
        <div class="mb-3 font-medium">
            <b>Capacity:</b> &nbsp; {{subscription()?.course.capacity}} Students
        </div>
        <div class="mb-3 font-medium">
            <b>Format: </b> &nbsp; <p-tag [value]="subscription()?.course.format" [severity]="'success'"
                class="absolute" />
        </div>
        <div class="mb-3 font-medium">
            <b>Start Date: </b> &nbsp; {{subscription()?.course.start_date | date: 'MM-dd-yyyy'}}
        </div>
        <div class="mb-3 font-medium">
            <b>End Date: </b> &nbsp; {{subscription()?.course.end_date| date: 'MM-dd-yyyy'}}
        </div>


    </div>
    <div class="col-12 flex justify-content-end align-items-center">
        <span>
            <p-button icon="pi pi-arrow-left" (click)="goBack()" label="Go Back" severity="help" [outlined]="true"
                [raised]="true" />

        </span>
    </div>
</div>
}@if(is_loading()) {
<div class="grid border-1 surface-border shadow-2 border-round sm:m-2 lg:m-5 p-3">
    <div class="col-12 md:col-6 lg:col-3">
        <div class="">
            <p-skeleton width="20rem" height="25rem" />
            <p-divider align="center">
                <i class="pi pi-warehouse mr-2"></i>
                <b>Session</b>
            </p-divider>
            @for(session of [1, 2]; track $index){
            <div class="deep-blue-font mb-3 font-medium flex align-items-center justify-content-between">
                <span> <p-skeleton width="12rem" height="2rem" /> </span>
                <p-skeleton shape="circle" size="2rem" styleClass="mr-2" />
            </div>
            }

        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-8 p-3 ml-3">
        <div class="mb-3 text-3xl mb-5 font-bold">
            <p-skeleton width="20rem" height="2rem" />
        </div>
        <div class="mb-3 text-2xl font-medium">
            <p-skeleton width="25rem" height="2rem" />
        </div>
        <div class="mb-3 text-3xl mb-5 font-bold">
            <p-skeleton width="20rem" height="2rem" />
        </div>
        <div class="mb-3 text-2xl font-medium">
            <p-skeleton width="15rem" height="2rem" />
        </div>
        <div class="mb-3 text-3xl mb-5 font-bold">
            <p-skeleton width="20rem" height="2rem" />
        </div>
        <div class="mb-3 text-2xl font-medium">
            <p-skeleton width="15rem" height="2rem" />
        </div>
        <div class="mb-3 text-3xl mb-5 font-bold">
            <p-skeleton width="20rem" height="2rem" />
        </div>
    </div>
    <div class="col-12 flex justify-content-end align-items-center">
        <span>
            <p-skeleton width="7rem" height="3rem" />
        </span>
    </div>
</div>
}
