<p-dialog header="Profile Photo" [(visible)]="displayProfilePhotoDialog" [modal]="true" [draggable]="false"
    [resizable]="false" [closable]="true" [title]="false">
    <div class="m-0 text-center">
        <div *ngIf="!uploadedProfileImage" class="p-3 flex flex-column surface-ground p-link shadow-2" style="
                border-radius: 6px;
                height: 400px !important;
                width: 400px !important;
            "></div>

        <img *ngIf="uploadedProfileImage" style="
                border-radius: 6px;
                height: 400px !important;
                width: 400px !important;
            " class="border rounded shadow-sm p-25 img-fix-h img-fit img-fluid shadow-2" [src]="uploadedProfileImage"
            onError="uploadedProfileImage" alt="User avatar" />
    </div>
</p-dialog>

<p-dialog [(visible)]="displayRemoveProfilePhotoDialog" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false"
    [resizable]="false" [closable]="false" [title]="false">
    <div style="margin-top: -3px !important" class="mb-3 text-center">
        <p><strong>Remove your profile photo?</strong></p>
        <p-button label="Cancel" styleClass="p-button-raised p-button-text p-button-secondary px-6 mr-4"
            (click)="displayRemoveProfilePhotoDialog = false"></p-button>
        <p-button label="ok" styleClass="p-button-raised p-button-danger px-7"></p-button>
    </div>
</p-dialog>

<div class="text-900 text-3xl font-medium mb-2 mt-1 nunito-font">
    <span class="deep-green-font"><strong>User Profile</strong></span>
</div>

<div class="surface-card shadow-1 px-3 pb-3 border-round bg-light mt-3 nunito-font">
    @defer (when !is_loading()) {
    @if(!is_loading()){
    <div *ngIf="showDetails" class="px-2 py-5 md:px-1 lg:px-3">
        <p-toast></p-toast>
        <div class="grid">
            <div class="col-12 lg:col-3">
                <p-menu styleClass="p-2" #menu [popup]="true" [model]="items"></p-menu>
                <div>
                    <div class="p-fileupload-buttonbar">
                        <span class="">
                            <input type="file" #profilePhotoUpload style="display: none" accept="image/*"
                                (change)="handleFileUpload($event)" />
                        </span>
                    </div>
                    <div *ngIf="!uploadedProfileImage" class="p-3 flex flex-column surface-ground p-link shadow-2"
                        (click)="menu.toggle($event)" style="border-radius: 6px; height: 250px; width: 250px"></div>

                    <img *ngIf="uploadedProfileImage" style="border-radius: 6px; height: 250px; width: 250px"
                        (click)="menu.toggle($event)"
                        class="border rounded shadow-sm p-25 img-fix-h img-fit img-fluid p-link shadow-2"
                        [src]="uploadedProfileImage" onError="uploadedProfileImage" alt="User avatar" />
                </div>
                <!-- html -->

                <!-- html -->
                <div class="pb-5">
                    <p-divider align="left">
                        <div class="inline-flex align-items-center">
                            <i class="pi pi-briefcase mr-2"></i>
                            <b>Work</b>
                        </div>
                    </p-divider>
                    <div class="deep-green-font text-sm mb-1 font-medium">
                        <strong>{{ studentCategory.name ?? "Not Set" }}</strong>
                    </div>
                </div>
                <!-- <div class="">
                        <p-divider align="left">
                            <div class="inline-flex align-items-center">
                                <i class="pi pi-briefcase mr-2"></i>
                                <b>Skils</b>
                            </div>
                        </p-divider>
                        <div class="deep-green-font mb-2 text-sm">
                            <strong>Technology</strong>
                        </div>
                        <div class="deep-green-font mb-2 text-sm">
                            <strong>Production</strong>
                        </div>
                        <div class="deep-green-font mb-2 text-sm">
                            <strong>Organization</strong>
                        </div>
                    </div> -->
            </div>
            <div class="col-12 md:col-6 lg:col-9">
                <div class="surface-card">
                    <div class="justify-content-between mb-3">
                        <div>
                            <div class="deep-green-font font-medium text-3xl mb-2">
                                <strong>{{ student.full_name }}</strong>
                            </div>
                            <!-- <div class="light-green-font font-medium text-2xl mb-3">
                                    <strong>
                                        <p class="m-b-10">
                                            Technical Assistant
                                        </p>
                                    </strong>
                                </div> -->
                            <div class="light-green-font font-medium text-1xl mb-4">
                                <strong>
                                    <p class="m-b-10">
                                        <span><span style="
                                                        background: #083a50;
                                                        color: #ffffff;
                                                        font-size: 1rem;
                                                    " class="p-tag px-3">{{
                                                student.email_address
                                                }}</span></span>
                                    </p>
                                </strong>
                            </div>

                            <div class="mb-3 pl-1">
                                <span class="text-700 line-height-3"><strong>Date Approved: </strong>
                                    {{
                                    student.application_approved_at
                                    | date : "full"
                                    }}</span>
                            </div>
                            <div class="text-900 w-full md:flex-order-0 flex-order-1">
                                <p-button styleClass="p-button-outlined p-button-danger mr-2"
                                    (click)="showChangePasswordForm()" label="Change Password"
                                    icon="pi pi-key"></p-button>
                                <p-button styleClass="p-button-outline p-button-secondary mr-2"
                                    (click)="showUpdateForm()" label="Edit" icon="pi pi-user-edit"></p-button>
                            </div>
                            <p-tabView [activeIndex]="1" styleClass="tabview-custom mt-1">
                                <p-tabPanel header="Header II">
                                    <ng-template pTemplate="header">
                                        <i class="pi pi-user mr-2"></i>
                                        <span>About</span>
                                    </ng-template>
                                    <div>
                                        <div class="deep-green-font mt-3 text-xl mb-2">
                                            <strong>Contact Information</strong>
                                        </div>
                                        <ul class="list-none p-0 m-0">
                                            <li class="flex align-items-center py-1 surface-border flex-wrap">
                                                <div class="deep-green-font w-6 md:w-2 font-medium">
                                                    <strong>Phone Number:</strong>
                                                </div>
                                                <div
                                                    class="light-green-font w-full md:w-10 md:flex-order-0 flex-order-1">
                                                    {{ student.phone_number }}
                                                </div>
                                            </li>
                                            <li class="flex align-items-center py-1 surface-border flex-wrap">
                                                <div class="deep-green-font w-6 md:w-2 font-medium">
                                                    <strong>Gender:</strong>
                                                </div>
                                                <div
                                                    class="light-green-font w-full md:w-10 md:flex-order-0 flex-order-1">
                                                    {{ student.gender }}
                                                </div>
                                            </li>
                                            <li class="flex align-items-center py-1 surface-border flex-wrap">
                                                <div class="deep-green-font w-6 md:w-2 font-medium">
                                                    <strong>Email:</strong>
                                                </div>
                                                <div
                                                    class="light-green-font w-full md:w-10 md:flex-order-0 flex-order-1">
                                                    {{ student.email_address }}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </p-tabPanel>
                            </p-tabView>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p-confirmDialog [style]="{ width: '30vw' }" [baseZIndex]="10000"></p-confirmDialog>

    <div *ngIf="displayForm" class="mt-3 pt-5 pl-3 pr-5">
        <div class="grid">
            <p-toast></p-toast>
            <div class="col-12 lg:col-3">
                <p-menu styleClass="p-2" #menu [popup]="true" [model]="items"></p-menu>
                <div>
                    <div class="p-fileupload-buttonbar">
                        <span class="">
                            <input type="file" #profilePhotoUpload style="display: none" accept="image/*"
                                (change)="handleFileUpload($event)" />
                        </span>
                    </div>
                    <div *ngIf="!uploadedProfileImage" class="p-3 flex flex-column surface-ground p-link shadow-2"
                        (click)="menu.toggle($event)" style="border-radius: 6px; height: 250px; width: 250px"></div>

                    <img *ngIf="uploadedProfileImage" style="border-radius: 6px; height: 250px; width: 250px"
                        (click)="menu.toggle($event)"
                        class="border rounded shadow-sm p-25 img-fix-h img-fit img-fluid p-link shadow-2"
                        [src]="uploadedProfileImage" onError="uploadedProfileImage" alt="User avatar" />
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-9 pt-3 pl-4">
                <div class="deep-green-font font-medium text-3xl mb-2">
                    <strong>{{ student.full_name }}</strong>
                </div>
                <div class="light-green-font font-medium text-2xl mb-3">
                    <strong>
                        <p class="m-b-10">Technical Assistant</p>
                    </strong>
                </div>
                <div class="light-green-font font-medium text-1xl mb-4">
                    <strong>
                        <p class="m-b-10">
                            <span class=""><span style="
                                            background: #083a50;
                                            color: #ffffff;
                                            font-size: 1rem;
                                        " class="p-tag px-3">{{ student.email_address }}</span></span>
                        </p>
                    </strong>
                </div>
                <div class="black-font text-2xl mb-1 font-medium">
                    <strong>
                        {{
                        displayChangePassword
                        ? "Change Password"
                        : "Edit Profile"
                        }}</strong>
                </div>
                @if (displayChangePassword){
                <form class="" [formGroup]="changePasswordForm">
                    <div>
                        <label for="password" class="block text-900 font-medium mb-2">Password</label>
                        <input id="password" formControlName="password" placeholder="Password" type="password"
                            pInputText class="w-full mb-3" />

                        <div *ngIf="
                                    changePasswordFormControls['password']
                                        .invalid &&
                                    changePasswordFormControls['password'].touched
                                " class="p-error block">
                            <small id="password" class="p-error block"
                                *ngIf="changePasswordFormControls['password'].errors?.['required']">
                                This field is required
                            </small>
                            <small id="password" class="p-error block"
                                *ngIf="changePasswordFormControls['password'].errors?.['minlength']">
                                Must be at least 8 characters
                            </small>
                        </div>

                        <label for="new_password" class="block text-900 font-medium mb-2">New Password</label>
                        <input id="new_password" placeholder="New Password" formControlName="new_password"
                            type="password" pInputText class="w-full mb-3" />
                        <div *ngIf="
                                    changePasswordFormControls['new_password']
                                        .invalid &&
                                    changePasswordFormControls['new_password']
                                        .touched
                                " class="p-error block">
                            <small id="new_password" class="p-error block"
                                *ngIf="changePasswordFormControls['new_password'].errors?.['required']">
                                This field is required
                            </small>
                            <small id="new_password" class="p-error block"
                                *ngIf="changePasswordFormControls['new_password'].errors?.['minlength']">
                                Must be at least 8 characters
                            </small>
                            <small id="new_password" class="p-error block"
                                *ngIf="changePasswordFormControls['new_password'].errors?.['mustMatch']">
                                Password Must match
                            </small>
                        </div>

                        <label for="confirm_password" class="block text-900 font-medium mb-2">confirm Password</label>
                        <input id="confirm_password" placeholder="Confirm Password" formControlName="confirm_password"
                            type="password" pInputText class="w-full mb-3" />
                        <div *ngIf="
                                    changePasswordFormControls['confirm_password']
                                        .invalid &&
                                    changePasswordFormControls['confirm_password']
                                        .touched
                                " class="p-error block">
                            <small id="confirm_password" class="p-error block"
                                *ngIf="changePasswordFormControls['confirm_password'].errors?.['required']">
                                This field is required
                            </small>
                            <small id="confirm_password" class="p-error block"
                                *ngIf="changePasswordFormControls['confirm_password'].errors?.['minlength']">
                                Must be at least 8 characters
                            </small>
                            <small id="confirm_password" class="p-error block"
                                *ngIf="changePasswordFormControls['confirm_password'].errors?.['mustMatch']">
                                Password Must match
                            </small>
                            <small id="confirm_password" class="p-error block"
                                *ngIf="changePasswordFormControls['confirm_password'].errors?.['mustMatch']">
                                Password Must match
                            </small>
                        </div>
                    </div>
                </form>
                } @else {
                <form class="form" [formGroup]="userProfileForm">
                    <div class="p-fluid">
                        <div class="field">
                            <label class="deep-green-font font-bold" for="phone_number">Phone Number</label>
                            <input pInputText id="phone_number" type="text" formControlName="phone_number"
                                pKeyFilter="num" [class.ng-invalid]="
                                        userProfileForm.controls['phone_number']
                                            .invalid &&
                                        userProfileForm.controls['phone_number']
                                            .touched
                                    " />
                            <div *ngIf="
                                        userProfileForm.controls['phone_number']
                                            .invalid &&
                                        userProfileForm.controls['phone_number']
                                            .touched
                                    " class="p-error block">
                                <small id="phone_number" class="p-error block"
                                    *ngIf="userProfileForm.controls['phone_number'].errors?.['required']">
                                    This field is required
                                </small>
                                <small id="phone_number" class="p-error block"
                                    *ngIf="userProfileForm.controls['phone_number'].errors?.['minlength'] || userProfileForm.controls['phone_number'].errors?.['maxlength']">
                                    Character must be 11 digits
                                </small>
                            </div>
                        </div>
                    </div>
                </form>
                }

                <div class="flex align-items-start flex-column lg:justify-content-end lg:flex-row">
                    <div class="mt-3 lg:mt-0">
                        <button pButton pRipple label="Cancel"
                            class="p-button-outlined p-button-raised p-button-secondary mr-2" icon="pi pi-times"
                            (click)="cancel()"></button>
                        @if(displayChangePassword){
                        <button class="p-button-raised" (click)="changePassword()" [disabled]="!canSubmitNewPassword"
                            pButton pRipple label="Save" icon="pi pi-check"></button>
                        } @else {
                        <button class="p-button-raised" (click)="update()" [disabled]="!canSubmitProfile" pButton
                            pRipple label="Save" icon="pi pi-check"></button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    }

    @if(is_loading()){
    <div class="px-2 py-5 md:px-1 lg:px-3">
        <div class="grid">
            <div class="col-12 lg:col-3">
                <div>
                    <p-skeleton width="250px" height="250px" />
                </div>

                <div class="pb-5">
                    <p-divider align="left">
                        <div class="inline-flex align-items-center">
                            <i class="pi pi-briefcase mr-2"></i>
                            <b>Work</b>
                        </div>
                    </p-divider>
                    <div class="deep-green-font text-sm mb-1 font-medium">
                        <p-skeleton width="20rem" height="2rem" />
                    </div>
                </div>

            </div>
            <div class="col-12 md:col-6 lg:col-9">
                <div class="surface-card">
                    <div class="justify-content-between mb-3">
                        <div>
                            <div class="deep-green-font font-medium text-3xl mb-2">
                                <p-skeleton width="20rem" height="2rem" />
                            </div>
                            <div class="light-green-font font-medium text-1xl mb-4">
                                <strong>
                                    <p class="m-b-10">
                                        <span> <p-skeleton width="20rem" height="2rem" /> </span>
                                    </p>
                                </strong>
                            </div>

                            <div class="mb-3 pl-1">
                                <span class="text-700 line-height-3"><strong>Date Approved: </strong>
                                    <p-skeleton width="20rem" height="2rem" />
                                </span>
                            </div>
                            <div class="text-900 w-full md:flex-order-0 flex-order-1">
                                <p-skeleton width="20rem" height="2rem" />

                            </div>
                            <p-tabView [activeIndex]="1" styleClass="tabview-custom mt-1">
                                <p-tabPanel header="Header II">
                                    <ng-template pTemplate="header">
                                        <i class="pi pi-user mr-2"></i>
                                        <span>About</span>
                                    </ng-template>
                                    <div>
                                        <div class="deep-green-font mt-3 text-xl mb-2">
                                            <strong>Contact Information</strong>
                                        </div>
                                        <ul class="list-none p-0 m-0">
                                            <li class="flex align-items-center py-1 surface-border flex-wrap">
                                                <div class="deep-green-font w-6 md:w-2 font-medium">
                                                    <strong>Phone Number:</strong>
                                                </div>
                                                <div
                                                    class="light-green-font w-full md:w-10 md:flex-order-0 flex-order-1">
                                                    <p-skeleton width="20rem" height="2rem" />

                                                </div>
                                            </li>
                                            <li class="flex align-items-center py-1 surface-border flex-wrap">
                                                <div class="deep-green-font w-6 md:w-2 font-medium">
                                                    <strong>Gender:</strong>
                                                </div>
                                                <div
                                                    class="light-green-font w-full md:w-10 md:flex-order-0 flex-order-1">
                                                    <p-skeleton width="20rem" height="2rem" />

                                                </div>
                                            </li>
                                            <li class="flex align-items-center py-1 surface-border flex-wrap">
                                                <div class="deep-green-font w-6 md:w-2 font-medium">
                                                    <strong>Email:</strong>
                                                </div>
                                                <div
                                                    class="light-green-font w-full md:w-10 md:flex-order-0 flex-order-1">
                                                    <p-skeleton width="20rem" height="2rem" />

                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </p-tabPanel>
                            </p-tabView>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

</div>