<!-- Error page-->
<div class="misc-wrapper">
    <div class="misc-inner p-2 p-sm-3">
        <div class="w-100 text-center">
            <div>
                <img class="mb-2" src="../../../../assets/images/logo/logo.jpeg" alt="Not authorized page"
                    height="150" />
            </div>
            <h2 class="mb-1 text-orange-600">Page Not Found 🕵🏻‍♀️</h2>
            <p class="mb-2">Oops! 😖 The requested URL was not found on this server.</p>
            <!-- <a class="btn btn-primary mb-2 btn-sm-block" rippleEffect>Back to home</a> -->
            <button pButton pRipple routerLink="/modules" label="Back to home"
                class="w-5 mb-3 green-white-btn p-button-secondary"></button>
            <!-- <img
        class="img-fluid"
        [src]="
          coreConfig.layout.skin === 'dark'
            ? 'assets/images/pages/error-dark.svg'
            : 'assets/images/pages/error.svg'
        "
        alt="Error page"
      /> -->
        </div>
    </div>
</div>
<!-- / Error page-->